Package: corsair-lncore-cli
Source: corsair-lncore-dkms
Version: 0.1.1-1
Architecture: amd64
Maintainer: Ross Golder <ross@golder.org>
Installed-Size: 25
Depends: libc6 (>= 2.34)
Section: kernel
Priority: optional
Homepage: https://github.com/rossigee/corsair-lncore-dkms
Description: Command-line tool for Corsair Lighting Node Core
 This package provides a command-line tool (cln-cli) for easy
 control of Corsair Lighting Node Core RGB LEDs without
 programming knowledge.
